<h1 mat-dialog-title>Add Meters</h1>
<div mat-dialog-content>
    <form [formGroup]="newMeter" >
        <mat-form-field>
            <mat-label>Enter UserId</mat-label>
            <input matInput type="text" formControlName="userId">
        </mat-form-field>
        <br>
        <br>
        <br>
        <mat-form-field appearance="fill">
            <mat-select formControlName="providerName" >
              <mat-option [value]=provider.name  *ngFor="let provider of providers">
                {{provider.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="openDialog()" >Add meter</button>
    <button mat-button mat-dialog-close>Close</button>
</div>