<mat-dialog-content>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">MeterId</th>
                <th scope="col">UserId</th>
                <th scope="col">Provider Name</th>
                <th scope="col">Select Providers For Switching</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meter of userMeterList | paginate :{itemsPerPage: limit, currentPage: page};">
                <td>
                    {{meter.smartMeterId}}
                </td>
                <td>
                    {{meter.userId }}
                </td>
                <td>
                    {{meter.provider.name }}
                </td>
                 <td>
                    <mat-form-field  [formGroup]="newMeter" appearance="fill">
                        <mat-select formControlName="providerName" >
                          <mat-option [value]=provider.name  *ngFor="let provider of providers">
                            {{provider.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                 </td>
                 <td>
                    <button type="button" class="btn btn-info" (click)="makeSwitch(meter.smartMeterId)">Switch</button>
                 </td>
                 
                </tr>
        </tbody>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

