<!DOCTYPE html>
<html>

<head>
  <title>page-title</title>
</head>
<body>
  <form [formGroup]="loginForm">
    <mat-card class="example-container">
      <mat-card-header>
        <mat-card-title
          style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 30px; color:rgb(45, 70, 45) ">
          Login</mat-card-title>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title>
          <span class="material-symbols-outlined"> electric_bolt</span>
        </mat-card-title>
      </mat-card-header>
      <mat-form-field id="inp-name">
        <input matInput placeholder="Enter Phone Number" formControlName="phone" >
      </mat-form-field>
      <mat-form-field id="inp-pwd">
        <input matInput placeholder="Enter Password" formControlName="password">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="toggle()" class="btn">View user<span class="material-symbols-outlined">
        double_arrow
        </span></button>
    </mat-card>
  </form>
</body>
</html>